.periodical_main_view
	position relative
	padding-bottom 260px
	background-color #fafafb
	.periodical_info_box
		max-width 980px
		margin 0 auto
		padding 40px
		background-color #fff
		.periodical_list
			width 100%
			.periodical_item
				margin-top 40px
				padding-bottom 20px
				overflow hidden
				cursor pointer
				transition 0.3s all linear
				&:hover
					transform translate(0, -20px)
					.periodical_item_img
						box-shadow 0 0 10px 0 rgba(0, 0, 0, 0.2)
				.periodical_item_img
					border 1px solid #e1e6ea
					border-radius 3px
					width 273px
					height 273px
					font-size 0
					line-height 273px
					overflow hidden
					background-repeat no-repeat
					background-size contain
					background-position center
					> img
						display inline-block
						width 100%
						vertical-align middle
				.periodical_item_name
					margin-top 20px
					font-size 14px
					line-height 1
					color #323435
	.el-pagination
		margin-top 100px
		text-align center