.empty_box
	width 100%
	margin-top 100px
	text-align center
	> img
		display inline-block
		width 160px
		height 175px
		margin 0 auto
	.empty_text
		margin-top 10px
		font-size 14px
		line-height 14px
		color #b9bdc0
		text-align center
		