.dynamic_detail_view
	position relative
	padding-bottom 260px
	background-color #fafafb
	.dynamic_main
		max-width 980px
		margin 0 auto
		padding 40px
		background-color #fff
		overflow hidden
		.dynamic_detail_title
			margin-top 40px
			font-size 20px
			font-weight bold
			line-height 30px
			color #323435
			text-align center
		.dynamic_detail_time
			text-align center
			margin-top 20px
			font-size 14px
			line-height 20px
			color #83888c
		.dynamic_detail_content
			margin-top 40px
			div, span, iframe, h1, h2, h3, h4, h5, h6, p, table, section, audio, video, input
				max-width 100% !important
	