.introduction_main_view
	position relative
	padding-bottom 260px
	background-color #fafafb
	.el-carousel__item
		background-color #fff
		background-repeat no-repeat
		background-size cover
		background-position center center
	.introduction_info_box
		max-width 980px
		margin 0 auto
		padding 40px
		background-color #fff
		.introduction_info_title
			width 108px
			// background-image url('../title_bg.png')
			background-repeat no-repeat
			background-size 108px 44px
			font-size 16px
			line-height 44px
			text-align center
			color #323435
		.info_introduction_car
			margin-top 40px
		.introduction_introduction_text
			margin-top 40px
			font-size 16px
			line-height 26px
			color #323435
			text-indent 32px