.account_page
	position relative
	padding-bottom 260px
	background-color #fafafb
	i.el-input__icon
		cursor pointer
	.account_page_body
		max-width 980px
		margin 0 auto
		background-color #fff
		.account_page_main
			width 800px
			padding 0 20px 60px
			margin 0 auto
			border 1px solid #e1e6ea
			box-shadow 8px 8px 0 0 #e1e6ea
			.account_title
				font-size 16px
				line-height 60px
				border-bottom 1px solid #e1e6ea
				display flex
				.account_title_left
					flex 1
				.account_title_right
					flex 1
					.el-button
						font-size 16px
			.account_body
				padding-top 30px
				.account_body_item
					display flex
					line-height 44px
					margin-top 50px
					&:first-child
						margin-top 0
					&.avatar
						line-height 120px
					.account_item_left
						width 60px
						font-size 14px
						color #b9bdc0
					.account_item_center
						margin-left 40px
						flex 1
						font-size 14px
						color #323435
					.account_item_right
						padding 0
						font-size 0
						.upload-demo
							display inline-block
						.account_change_avatar
							padding-top 0
							padding-bottom 5px
							font-size 14px
							color #b9bdc0
							vertical-align bottom
							&:hover
								color #66b1ff
						.account_right_avatar
							margin-left 10px
							width 120px
							height 120px
							vertical-align middle
							border 1px solid #e1e6ea
							border-radius 2px
						.account_update_btn
							width 120px
							height 44px
							font-size 14px
							// line-height 44px
							vertical-align middle
		