.common_detail_nav
	font-size 0
	line-height 12px
	.common_nav_item
		display inline-block
		.el-icon-arrow-right
			margin 0 6px
			font-size 12px
			line-height 12px
			vertical-align middle
			transform translate(0, -2px)
		.common_nav_btn
			font-size 12px
			color #999da1
			vertical-align baseline
			&.active
				color #F8C415
				vertical-align baseline